<footer class="footer text-center py-lg-9 py-8 bg-accent"
    data-aos="fade-zoom-in"
>
    <div class="container">
        <!-- footer logo -->
        <h2 class="mb-6">
            <a href="#">
                <img src="/assets/images/index/logo-footer.png" alt="logo" class="logo">
            </a>
        </h2>
        <!-- footer nav -->         
        <ul class="nav d-lg-flex d-block justify-content-lg-center mb-6 footer-nav">
            <li class="nav-item py-lg-2 mb-4 mb-lg-0">
                <a class="nav-link fw-bold py-lg-0 pe-lg-6 px-2 " href="#">
                    常見問題
                </a>
            </li>
            <li class="nav-item py-lg-2 mb-4 mb-lg-0">
                <a class="nav-link fw-bold py-lg-0 px-lg-6 px-2" href="#">
                    聯絡我們
                </a>
            </li>
            <li class="nav-item py-lg-2 mb-4 mb-lg-0">
                <a class="nav-link fw-bold py-lg-0 px-lg-6 px-2" href="#">
                    隱私權政策
                </a>
            </li>
            <li class="nav-item py-lg-2">
                <a class="nav-link fw-bold py-lg-0 ps-lg-6 px-2" href="#">
                    關於我們
                </a>
            </li>
        </ul>
        <!-- service hours -->      
        <div class="mb-6 text-white">
            <p class="fs-7 fs-lg-6 mb-2"> 服務時間：週一至周五 AM <time>09:00</time> - <time>12:30</time>｜PM <time>13:30</time> - <time>17:30</time></p>
            <p class="fs-7 fs-lg-6">連絡電話：0000-000-000</p>
        </div>
        <!-- copyright -->
        <p class="fs-7 fs-lg-6 text-gray-200">
            Copyright&nbsp;&copy;&nbsp;FreshFarm 2025 All Rights Reserved.
        </p>
    </div>
</footer>