<div class="nav-box">
    <div class="container">
        <div id="nav" class="py-2 py-lg-4 px-3 px-lg-7 navbar-rounded mt-lg-8 bg-white <% if (shadow) { %> nav-shadow <% } %>">
            <nav 
                class="navbar navbar-expand-lg header-nav">
                <div class="container p-0">
                    <a class="navbar-brand py-0" href="index.html" tabindex="-1" aria-disabled="true">
                        <img src="/assets/images/index/logo.png" alt="logo" class="nav-logo object-fit-cover">
                    </a>
                    <button class="navbar-toggler border-0 bg-gray-100 p-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end bg-white" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header px-3 py-2 p-lg-0">
                            <a class="offcanvas-title" id="offcanvasNavbarLabel">
                                <img src="/assets/images/index/logo.png" alt="logo" class="object-fit-cover"
                                    style="width: 64px; height: 53px;"></a>
                            <button type="button" class="btn-close me-0 bg-gray-100" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body px-6 py-6 p-lg-0">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item pe-lg-8 pb-5 pb-lg-0  nav-bottom-line">
                                    <a class="nav-link text-lg-center p-0" aria-current="page" href="index.html">
                                        <span class="fs-lg-4 fs-5 fw-bold">首頁</span>
                                        <p class="text-gray-300 ">Home</p>
                                    </a>
                                </li>
                                <li class="nav-item py-5 py-lg-0 nav-bottom-line pe-lg-8 ">
                                    <a class="nav-link text-lg-center  p-0" href="product-list.html">
                                        <span class="fs-lg-4 fs-5 fw-bold">產地直送</span>
                                        <p class="text-gray-300">Delivery</p>
                                    </a>
                                </li>
                                <li class="nav-item py-5 py-lg-0 nav-bottom-line pe-lg-8">
                                    <a class="nav-link text-lg-center p-0" href="checkout.html">
                                        <span class="fs-lg-4 fs-5 fw-bold">購物車</span>
                                        <p class="text-gray-300">Cart</p>
                                    </a>
                                </li>
                                <li class="nav-item py-5 py-lg-0">
                                    <!-- 未登入 -->
                                    <!-- <a class="nav-link text-lg-center  p-0" href="#">
                                                        <span class="fs-lg-4 fs-5 fw-bold">登入/註冊</span>
                                                        <p class="text-gray-300">Sign in</p>
                                                    </a> -->
                                    <!-- 已登入 -->    
                                    <div class="nav-link dropdown-toggle p-0 d-flex align-items-center" style="cursor: pointer;"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <div>
                                            <span class="fs-lg-4 fs-5 fw-bold">用戶名稱</span>
                                            <p class="text-gray-300 text-lg-center">Account</p>
                                        </div>
                                        <div class="align-self-center d-lg-none ms-auto">
                                            <span class="material-icons ">
                                                keyboard_arrow_right
                                            </span>
                                        </div>
                                    </div>    
                                    <ul class="dropdown-menu dropdown-menu-end border-0 rounded-3 shadow mt-lg-6 p-4">
                                        <h6 class="text-primary-400 mb-3 dropdown-top-line pt-4">會員中心</h6>
                                        <li><a class="dropdown-item  me-2 mb-3 mb-lg-1" href="#"><span
                                                    class="material-icons align-bottom me-1">
                                                    account_circle
                                                </span>我的帳戶</a>
        
                                        </li>
                                        <li><a class="dropdown-item  me-2 mb-3 mb-lg-1" href="#"><span
                                                    class="material-icons align-bottom me-1">
                                                    description
                                                </span>訂單管理</a></li>
                                        <li><a class="dropdown-item  me-2 mb-3 mb-lg-1" href="#"><span
                                                    class="material-icons align-bottom me-1">
                                                    favorite_border
                                                </span>收藏清單 </a></li>
                                        <li><a class="dropdown-item " href="#"><span class="material-icons align-bottom me-1">
                                                    settings
                                                </span>個人資料設定</a></li>
                                    </ul>    
                                </li>
                            </ul>
                        </div>
                    </div>    
                </div>    
            </nav>
        </div>
    </div>
</div>
