@mixin large{
    @media (min-width:992px){
        @content;
    }
}
.nav-box{
    background-color: $white;
    @include large{
        background-color: transparent;
    }
}
.navbar-rounded {
    border-radius: 0px;
    @include large{
        border-radius: 16px;
    }
}
.nav-logo{
    width: 64px;
    height: 53px;
    @include large{
        width: 136px;
        height: 80px;
    }
}
.nav-bottom-line{
    border-bottom: 1px solid rgba($black, 0.2);
        @include large{
            border: 0px;
        }
}

.nav-shadow{
    @include large{
    box-shadow: 1px 1px 50px 0px rgba($primary-300,0.12);

    }
}

.dropdown-center .dropdown-menu {
    background-color: rgba($white, 0.8);
        @include large{
            left: 50% ;
            transform: translateX(-50%) ;
            right: auto ;
        }
}


.dropdown-top-line{
    border-top: 1px solid rgba($black, 0.2);
        @include large{
            border: 0;
        }

}