<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FreshFarm | 購物車</title>
    <link rel="icon" href="/assets/icons/freshFarm.ico">
  </head>

  <body>
    <%- include('./layout/nav',{shadow:true}) -%>
    <div class="container">
      <!-- 進度條 -->
      <div class="d-flex align-items-center justify-content-center">
        <!-- 確認訂單明細 -->
        <div class="step-item">
          <div class="step-circle active">1</div>
          <p class="step-text">確認訂單明細</p>
        </div>

        <!-- 線條 -->
        <div class="step-line"></div>

        <!-- 選擇付款方式 -->
        <div class="step-item">
          <div class="step-circle">2</div>
          <p class="step-text">選擇付款方式</p>
        </div>

        <!-- 線條 -->
        <div class="step-line"></div>

        <!-- 完成訂購 -->
        <div class="step-item">
          <div class="step-circle">3</div>
          <p class="step-text">完成訂購</p>
        </div>
      </div>

      <!-- 購物車 -->
      <!-- 電腦樣式 -->
      <div class="py-8 py-lg-9">
        <div class="d-none d-lg-block cart-bg">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 480px">商品</th>
                <th scope="col" style="width: 192px">數量</th>
                <th scope="col" style="width: 192px">單價</th>
                <th scope="col" style="width: 192px">小計</th>
                <th scope="col" style="width: 80px">移除</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <img
                    src="/assets/images/checkout/checkout-Image.jpg"
                    alt="嚴選大樹老欉玉荷包禮盒3斤"
                    class="me-2 rounded-3"
                  /><span>嚴選大樹老欉玉荷包禮盒3斤</span>
                </th>
                <td>
                  <div class="position-relative d-inline-block">
                    <input
                      type="number"
                      class="form-control text-center"
                      id="quantity-1"
                      value="1"
                    />
                    <span
                      class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 me-2 text-gray-200"
                      style="cursor: pointer"
                    >
                      remove
                    </span>
                    <span
                      class="material-icons position-absolute top-50 end-0 translate-middle-y ms-2 me-3 text-primary-400"
                      style="cursor: pointer"
                    >
                      add
                    </span>
                  </div>
                </td>
                <td>NT$ 588</td>
                <td class="fw-bold">NT$ 588</td>
                <td>
                  <div class="delete">
                    <span class="material-icons"> delete </span>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <img
                    src="/assets/images/checkout/checkout-Image-1.jpg"
                    alt="玉井愛文芒果"
                    class="me-2 rounded-3"
                  /><span>玉井愛文芒果</span>
                </th>
                <td>
                  <div class="position-relative d-inline-block">
                    <input
                      type="number"
                      class="form-control text-center"
                      id="quantity-2"
                      value="3"
                    />
                    <span
                      class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 me-2 text-primary-400"
                      style="cursor: pointer"
                    >
                      remove
                    </span>
                    <span
                      class="material-icons position-absolute top-50 end-0 translate-middle-y ms-2 me-3 text-primary-400"
                      style="cursor: pointer"
                    >
                      add
                    </span>
                  </div>
                </td>
                <td>NT$ 180</td>
                <td class="fw-bold">NT$ 540</td>
                <td>
                  <div class="delete">
                    <span class="material-icons"> delete </span>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <img
                    src="/assets/images/checkout/checkout-Image-2.jpg"
                    alt="有機蜜蘋果"
                    class="me-2 rounded-3"
                  /><span>有機蜜蘋果</span>
                </th>
                <td>
                  <div class="position-relative d-inline-block">
                    <input
                      type="number"
                      class="form-control text-center"
                      id="quantity-3"
                      value="5"
                    />
                    <span
                      class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 me-2 text-primary-400"
                      style="cursor: pointer"
                    >
                      remove
                    </span>
                    <span
                      class="material-icons position-absolute top-50 end-0 translate-middle-y ms-2 me-3 text-primary-400"
                      style="cursor: pointer"
                    >
                      add
                    </span>
                  </div>
                </td>
                <td>NT$ 150</td>
                <td class="fw-bold">NT$ 750</td>
                <td>
                  <div class="delete">
                    <span class="material-icons"> delete </span>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <img
                    src="/assets/images/checkout/checkout-Image-3.jpg"
                    alt="屏東香米"
                    class="me-2 rounded-3"
                  /><span>屏東香米</span>
                </th>
                <td>
                  <div class="position-relative d-inline-block">
                    <input
                      type="number"
                      class="form-control text-center"
                      id="quantity-4"
                      value="1"
                    />
                    <span
                      class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 me-2 text-gray-200"
                      style="cursor: pointer"
                    >
                      remove
                    </span>
                    <span
                      class="material-icons position-absolute top-50 end-0 translate-middle-y ms-2 me-3 text-primary-400"
                      style="cursor: pointer"
                    >
                      add
                    </span>
                  </div>
                </td>
                <td>NT$ 180</td>
                <td class="fw-bold">NT$ 180</td>
                <td>
                  <div class="delete">
                    <span class="material-icons"> delete </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 手機樣式 -->
        <div class="d-lg-none">
          <div class="cart-bg mb-6">
            <div class="d-flex align-items-top mb-3">
              <div>
                <img
                  src="/assets/images/checkout/checkout-Image.jpg"
                  alt="嚴選大樹老欉玉荷包禮盒3斤"
                  class="me-3 rounded-3"
                />
              </div>
              <div class="flex-grow-1">
                <p class="h6 text-primary-400 mb-2">
                  嚴選大樹老欉玉荷包禮盒3斤
                </p>
                <div class="d-flex align-items-center mb-2">
                  <small class="text-gray-400 pe-4">單價</small>
                  <span>NT$ 588</span>
                </div>
                <div class="d-flex align-items-center">
                  <small class="text-gray-400 pe-4">小計</small>
                  <span class="fw-bold">NT$ 588</span>
                </div>
              </div>
              <span
                class="material-icons text-danger ms-3"
                style="cursor: pointer"
                >delete</span
              >
            </div>
            <div class="position-relative d-inline-block w-100">
              <input
                type="number"
                class="form-control text-center"
                id="quantity-1"
                value="1"
              />
              <span
                class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 text-gray-200"
                style="cursor: pointer"
              >
                remove
              </span>
              <span
                class="material-icons position-absolute top-50 end-0 translate-middle-y me-3 text-primary-400"
                style="cursor: pointer"
              >
                add
              </span>
            </div>
          </div>
          <div class="cart-bg mb-6">
            <div class="d-flex align-items-top mb-3">
              <div>
                <img
                  src="/assets/images/checkout/checkout-Image-1.jpg"
                  alt="玉井愛文芒果"
                  class="me-3 rounded-3"
                />
              </div>
              <div class="flex-grow-1">
                <p class="h6 text-primary-400 mb-2">玉井愛文芒果</p>
                <div class="d-flex align-items-center mb-2">
                  <small class="text-gray-400 pe-4">單價</small>
                  <span>NT$ 180</span>
                </div>
                <div class="d-flex align-items-center">
                  <small class="text-gray-400 pe-4">小計</small>
                  <span class="fw-bold">NT$ 540</span>
                </div>
              </div>
              <span
                class="material-icons text-danger ms-3"
                style="cursor: pointer"
                >delete</span
              >
            </div>
            <div class="position-relative d-inline-block w-100">
              <input
                type="number"
                class="form-control text-center"
                id="quantity-2"
                value="3"
              />
              <span
                class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 text-primary-400"
                style="cursor: pointer"
              >
                remove
              </span>
              <span
                class="material-icons position-absolute top-50 end-0 translate-middle-y me-3 text-primary-400"
                style="cursor: pointer"
              >
                add
              </span>
            </div>
          </div>
          <div class="cart-bg mb-6">
            <div class="d-flex align-items-top mb-3">
              <div>
                <img
                  src="/assets/images/checkout/checkout-Image-2.jpg"
                  alt="有機蜜蘋果"
                  class="me-3 rounded-3"
                />
              </div>
              <div class="flex-grow-1">
                <p class="h6 text-primary-400 mb-2">有機蜜蘋果</p>
                <div class="d-flex align-items-center mb-2">
                  <small class="text-gray-400 pe-4">單價</small>
                  <span>NT$ 150</span>
                </div>
                <div class="d-flex align-items-center">
                  <small class="text-gray-400 pe-4">小計</small>
                  <span class="fw-bold">NT$ 750</span>
                </div>
              </div>
              <span
                class="material-icons text-danger ms-3"
                style="cursor: pointer"
                >delete</span
              >
            </div>
            <div class="position-relative d-inline-block w-100">
              <input
                type="number"
                class="form-control text-center"
                id="quantity-3"
                value="5"
              />
              <span
                class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 text-primary-400"
                style="cursor: pointer"
              >
                remove
              </span>
              <span
                class="material-icons position-absolute top-50 end-0 translate-middle-y me-3 text-primary-400"
                style="cursor: pointer"
              >
                add
              </span>
            </div>
          </div>
          <div class="cart-bg mb-6">
            <div class="d-flex align-items-top mb-3">
              <div>
                <img
                  src="/assets/images/checkout/checkout-Image-3.jpg"
                  alt="屏東香米"
                  class="me-3 rounded-3"
                />
              </div>
              <div class="flex-grow-1">
                <p class="h6 text-primary-400 mb-2">屏東香米</p>
                <div class="d-flex align-items-center mb-2">
                  <small class="text-gray-400 pe-4">單價</small>
                  <span>NT$ 180</span>
                </div>
                <div class="d-flex align-items-center">
                  <small class="text-gray-400 pe-4">小計</small>
                  <span class="fw-bold">NT$ 180</span>
                </div>
              </div>
              <span
                class="material-icons text-danger ms-3"
                style="cursor: pointer"
                >delete</span
              >
            </div>
            <div class="position-relative d-inline-block w-100">
              <input
                type="number"
                class="form-control text-center"
                id="quantity-4"
                value="1"
              />
              <span
                class="material-icons position-absolute top-50 start-0 translate-middle-y ms-3 text-gray-200"
                style="cursor: pointer"
              >
                remove
              </span>
              <span
                class="material-icons position-absolute top-50 end-0 translate-middle-y me-3 text-primary-400"
                style="cursor: pointer"
              >
                add
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-8 py-lg-9">
        <!-- 左側欄 -->
        <div class="col-lg-7">
          <!-- 配送方式 -->
          <div class="bg-gray-50 rounded-4 p-6 mb-6">
            <h2 class="h4 mb-4 text-primary-400">配送方式</h2>
            <div class="form-check mb-4">
              <input
                class="form-check-input"
                type="radio"
                name="ShippingMethod"
                id="ShippingMethod1"
                checked
              />
              <label class="form-check-label" for="ShippingMethod1">
                低溫宅配 (運費NT$150，消費滿NT$1,000免運費)
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="ShippingMethod"
                id="ShippingMethod2"
              />
              <label class="form-check-label" for="ShippingMethod2">
                到店取貨
              </label>
            </div>
          </div>
          <!-- 收件資訊 -->
          <div class="bg-gray-50 rounded-4 p-6 mb-6">
            <h2 class="h4 mb-4 text-primary-400">收件資料</h2>
            <!-- 收件人姓名&手機號碼 -->
            <div class="d-lg-flex">
              <div class="w-100 pe-lg-4 mb-4">
                <label for="name" class="form-label">收件人姓名</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="王Ｏ明"
                />
              </div>
              <div class="w-100 mb-4">
                <label for="cellNumber" class="form-label">手機號碼</label>
                <input
                  type="text"
                  class="form-control py-4"
                  id="cellNumber"
                  placeholder="0912345678"
                />
              </div>
            </div>
            <!-- 電子郵件 -->
            <div class="mb-4">
              <label for="mail" class="form-label">電子郵件</label>
              <input
                type="email"
                class="form-control"
                id="mail"
                placeholder="aaa@gmail.com"
              />
            </div>
            <!-- 收件地址 -->
            <div class="mb-4">
              <label for="adress" class="form-label">收件地址</label>
              <div class="d-flex pb-2">
                <div class="dropdown w-50 me-2 me-lg-4">
                  <button
                    class="form-select text-start py-4"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    臺北市
                  </button>
                  <ul class="dropdown-menu w-100">
                    <li>
                      <a class="dropdown-item" href="#">臺北市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">新北市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">桃園市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">基隆市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">新竹縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">新竹市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">宜蘭縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">花蓮縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">臺東縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">臺中市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">南投縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">苗栗縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">雲林縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">彰化縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">臺南市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">高雄市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">嘉義縣</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">嘉義市</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">屏東縣</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown w-50">
                  <button
                    class="form-select text-start py-4"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    大安區
                  </button>
                  <ul class="dropdown-menu w-100">
                    <li>
                      <a class="dropdown-item" href="#">中正區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">大同區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">中山區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">松山區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">大安區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">萬華區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">信義區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">士林區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">北投區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">內湖區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">南港區</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">文山區</a>
                    </li>
                  </ul>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                id="adress"
                placeholder="詳細地址"
              />
            </div>
            <!-- 郵遞區號 -->
            <div class="mb-4">
              <label for="postalCode" class="form-label">郵遞區號</label>
              <input
                type="text"
                class="form-control"
                id="postalCode"
                value="106"
              />
            </div>
          </div>
        </div>

        <!-- 右側欄 -->
        <div class="col-lg-5">
          <!-- 折扣碼 -->
          <div class="bg-gray-50 rounded-4 p-6 mb-6">
            <h2 class="h4 mb-4 text-primary-400">折扣碼</h2>
            <div class="d-flex">
              <input
                type="text"
                class="form-control me-3"
                placeholder="請輸入折扣代碼"
              />
              <button class="btn text-nowrap checkout-btn">使用</button>
            </div>
          </div>
          <!-- 付款金額 -->
          <div class="bg-gray-50 rounded-4 p-6">
            <h2 class="h4 mb-4 text-primary-400">付款金額</h2>
            <div class="d-flex justify-content-between pb-2">
              <p>商品金額</p>
              <p class="fw-bold">NT$ 2,058</p>
            </div>
            <div class="d-flex justify-content-between pb-2">
              <p>折扣碼折抵</p>
              <p class="fw-bold">-NT$ 50</p>
            </div>
            <div class="d-flex justify-content-between">
              <p>運費</p>
              <p class="fw-bold">NT$ 0</p>
            </div>
            <hr class="border-gray-300" />
            <div class="d-flex align-items-center justify-content-between mb-4">
              <p>總金額</p>
              <p class="h3 text-secondary-300">NT$ 2,008</p>
            </div>
            <button
              class="btn w-100 checkout-btn d-flex justify-content-center align-items-center"
            >
              前往付款<span class="material-icons fs-6 ms-2">
                arrow_forward
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
